// @import "variable"

// 그리드 구조 함수로 변경
// grid variables
$grid-columns: 12;
$mobile: 480px;
$tablet: 780px;
$desktop: 1200px;

$width: 80%;
$gutter: 20%;
// .col-1-sm { width:($width / 12) - ($gutter * 11 / 12); }

// Wide Screen
@media screen and (min-width: $desktop + 1) {
  @for $i from 1 through $grid-columns {
    .col-xl-#{$i} {
      width: ($width/$grid-columns)*$i + ($gutter/$grid-columns*($i - 1));
    }
  }
}
// Desktop
@media screen and (min-width: $tablet + 1) and (max-width: $desktop ){
  @for $i from 1 through $grid-columns {
    .col-l-#{$i} {
      width: ($width/$grid-columns)*$i + ($gutter/$grid-columns*($i - 1));
    }
  }
}
// Tablet
@media screen and (min-width: $mobile + 1) and (max-width: $tablet){
  @for $i from 1 through $grid-columns {
    .col-m-#{$i} {
      width: ($width/$grid-columns)*$i + ($gutter/$grid-columns*($i - 1));
    }
  }
}
// Mobile
@media screen and (max-width: $mobile ){
  @for $i from 1 through $grid-columns {
    .col-s-#{$i} {
      width: ($width/$grid-columns)*$i + ($gutter/$grid-columns*($i - 1));
    }
  }
}

// push
@for $i from 1 through $grid-columns {
  .push-#{$i} {
    margin-left: ($width + $gutter)/$grid-columns*$i;
  }
}
// pull
@for $i from 1 through $grid-columns {
  .pull-#{$i} {
    margin-right: ($width + $gutter)/$grid-columns*$i;
  }
}

@mixin border-box {
  box-sizing: border-box;
}
html {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 10px;
}
body {
  margin: 5rem;
  font-weight: 400;
  font-size: 1.6rem;
  & h2 {
    font-weight: 400;
  }
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}
.header {
  background: url(http://bit.ly/2nMBuqE) center center no-repeat;
  background-size: cover;
  height: 28rem;
}

.wrapper {
  // width: 95%;
  max-width: $desktop;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.flex-grid {
  display: flex;
  justify-content: space-around;
  & {
    text-align: center;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & {
    text-align: center;
  }
}
.column {
  width: 100%;
  margin: 20px;
}
.column p{
  margin: 2rem auto;
}

[class*='col'] {
  // float: left;
  // padding: 1em;
  // min-height: 1px;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-l-1, .col-l-4 {
  background-color: #FF7978;
}
.col-l-2, .col-l-8 {
  background-color: #F2CA68;
}
.col-l-3, .col-l-6 {
  background-color: #5CD18B;
}
.col-l-5, .col-l-12 {
  background-color: #58A2ED;
}
.column-6 {
  background-color: #DFDFDF;
}


//
// %clearfix {
//   *zoom: 1;
//   &:before, &:after {
//       content: " ";
//       display: table;
//   }
//   &:after {
//       clear: both;
//   }
// }
//
// .wrapper, .row {
//     @extend %clearfix;
// }
//
// .wrapper, .row {
//   *zoom: 1;
// }
// .wrapper:before, .row:before, .wrapper:after, .row:after {
//   content: " ";
//   display: table;
// }
// .wrapper:after, .row:after {
//   clear: both;
// }
//
//
// // breakpoints
// $breakpoint-small: "only screen and (min-width: 20em)";
// $breakpoint-medium: "only screen and (min-width: 30em)";
